*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

:root {
    --max-width: 100%;
    --grid-width: 1200px;

    --grid-gap: 15px;

    --main-color: #13171A;
    --secondary-color: #F5F5F5;
}

#wpadminbar {
  display: none !important;
}

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
  }

  .container {
    width: var( --max-width);
  }

  
.navBar{
  background: #13171A80;
  padding: 1rem 0;
  width: var(--max-width);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 666;
}


.navBarGrid {
    width: var(--grid-width);
    display: grid;
    grid-template-columns: 2fr 8fr 2fr; /* logo | space | nav */
    align-items: center;
    gap: var(--grid-gap);
    margin: 0 auto;
    padding: 0;
}

.logoImg {
    grid-column: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logoImg img {
    height: 50px;
    width: auto;
}

.ulNav {
    grid-column: 3 / 4;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}


.ulNav li {
    height: 40px;
}

.ulNav li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    transition: background 0.2s, color 0.2s;
    display: block;
    text-align: center;
}

.ulNav li a:hover {
    background: #fff;
    color: var(--main-color);
}

.languages {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.languages a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    transition: background 0.2s, color 0.2s;
}

.languages li a:hover {
    background: #fff;
    color: var(--main-color);
}