  .blogviewSection {
  width: var(--grid-width);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto, auto); /* bedre end 1fr for content */
  gap: var(--grid-gap);
  margin: 150px auto 0 auto;
}

.blogviewSection h2 {
  grid-column: 1 / -1;
  grid-row: 1;
    margin: 0 auto 50px auto;
  font-size: 60px;
  color: var(--secondary-color);
}

.blogviewSection a {
  grid-column: span 4;
  grid-row: auto;
  height: auto;
  background-color: var(--secondary-color);
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: var(--main-color);
}

.blogviewSection form {
  grid-row: 2;
}