.merchItemSection {
     width: var(--max-width);
}

.merchItemSectionTop {
    width: var(--grid-width);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);
    margin: 150px auto 0 auto;
}

.merchItemImageArea {
    grid-column: span 6;
    display: flex;
    gap: 1rem; 
}


.merchSideImages {
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap);
    width: 20%;
}

.merchSideImages img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid #444;
    border-radius: 4px;
}


.merchMainImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.merchMainImage img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.merchItemTextArea {
    grid-column: 8 / -1;
}

.merchItemTextArea h2 {
    font-size: 32px;
    color: var(--secondary-color);
}

.merchItemTextArea h3 {
  margin: 15px 15px 15px 0px;
  padding: 3px 10px 5px 10px;
  width: fit-content;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  background-color: var(--secondary-color);
  font-size: 18px;
  font-weight: 500;
}

.merchItemTextArea p {
    font-size: 24px;
    color: var(--secondary-color);
    font-weight: 500;
}

.merchItemTextAreaBottom {
    width: 100%;
    margin-top: 50px;
}

.buyForm {
    display: flex;
}

.buyForm input {
  width: 50px;
  text-align: center;
  font-size: 16px;
}

.buyButton {
    width: 80%;
    padding: 15px;
    margin-left: auto;
    border-radius: 20px;
}

.merchItemSectionBottom {
    width: var(--grid-width);
    margin: 100px auto 150px auto;
}

.merchItemSectionBottom h3 {
    color: var(--secondary-color);
    font-size: 1.3rem;
}

.merchItemSpecifications {
    color: var(--secondary-color);
    margin-top: 15px;
}

.merchItemDescription {
    color: var(--secondary-color);
    margin-top: 50px;
    width: 60%;
}