body  {
  width: var(--grid-width);
  margin: 150px auto 0 auto;
}

h1 {
  text-align: center;
  margin: 0 0 50px 0;
  font-size: 60px;
  color: var(--secondary-color);
}

.woocommerce-result-count {
  color: var(--secondary-color);
}

h2 {
  color: var(--secondary-color);
}


.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button {
    border-radius: 0;
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt {
    border-radius: 0;
    color: var(--main-color);
    background-color: var(--secondary-color);
    margin-left: 1rem;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
}

input {
    height: 50px;
    width: 50px;
    font-size: 15px;
}

.woocommerce-product-details__short-description {
    color: var(--secondary-color);
    margin: 10px 0 40px 0;
}

.product_meta {
    margin-top: 40px;
}

.sku_wrapper {
    color: var(--secondary-color);
}

.posted_in {
    color: var(--secondary-color);
    margin-left: 20px;
}

.posted_in a {
    color: var(--secondary-color);
}